.UserData {

    // height: 100%;
    >.top {
        margin-block: 50px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            text-align: center;
            font-size: 40px;

            span {
                color: #ffbf26;
            }
        }
        button {
            padding: 10px 15px;
            border: none;
            // color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            background-color: rgb(255, 77, 77);
            border-radius: 25px;
            cursor: pointer;
            &:hover {
                background-color: rgb(255, 44, 44);
            }
        }
    }

}