.artists {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 20px;
    justify-content: space-evenly;
    // padding-inline: 20px;
    >.artistCont {
        // border: 1px solid rgb(255, 255, 255);
        width: fit-content;
        // margin-inline: 10px;
        cursor: pointer;

        // display: ;
        img {
            border-radius: 50%;
            height: 150px;
            width: 150px;
        }

        p {
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}