@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    // border: 1px solid rgb(255, 255, 255);

    h1 {
        display: flex;
        align-items: center;
        font-family: "Caveat", cursive;
        font-size: 2.3rem;
        // font-optical-sizing: auto;

        img {
            width: 2.3rem;
        }
    }

    >.inputWrapper {
        width: 40%;
        // height: 2.5rem;
        border: 2px solid rgba(198, 198, 198, 0.237);
        border-radius: 30px;
        position: relative;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        >.top {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            >p {
                margin-left: 5px;
            }

            >input {
                width: 0px;
                opacity: 0;
                color: white;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 1.1rem;
                padding-inline: 5px;

                // &:focus {
                //     outline: none;
                // }
            }

            >.cross {
                width: 0px;
            }
        }
    }

    >.activeInputWrapper {
        width: 70%;
        border-radius: 20px;
        // border-radius: 20px 20px 0 0;
        // border-bottom: none;

        .top {
            width: 100%;
            justify-content: space-evenly;

            >p {
                display: none;
            }

            >input {
                opacity: 1;
                width: 90%;
            }

            >.cross {
                width: 24px;
                height: 24px;
                display: block;
                cursor: pointer;
                z-index: 2;
            }

            svg {
                margin: 10px;
                font-size: 1.2rem;
                // &:nth-last-of-type(1) {
                //     margin-left: 10px;
                // }

                // &:nth-last-of-type(2) {
                //     margin-right: 10px;
                // }
            }
        }
        
        >.bottom {
            position: absolute;
            top: 50px;
            width: 100%;
            border: 2px solid rgba(198, 198, 198, 0.237);
            background-color: white;
            // border-top: none;
            border-radius: 20px;
            height: 0px;
            overflow: hidden;
            animation: dataAnimation 0.2s linear 0.2s forwards;
            @keyframes dataAnimation {
                to {
                    height: 250px;
                }
            }
        }
    }


    // >input {
    //     // width: 50%;
    // }
}