main {
    min-height: calc(100vh - 70px);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-top: 63px;
    padding-bottom: 80px;
    // margin-bottom: 92px;
    padding-top: 62.5px;
    padding-inline: 50px;
}
@media screen and (max-width: 600px) {
    main {
        padding-inline: 20px;
    }
}