main {
    min-height: calc(100vh);
    margin-top: 63px;
    padding-bottom: 20px;
    margin-bottom: 92px;
    // background: #000;
    padding-inline: 50px;
}
@media screen and (max-width: 600px) {
    main {
        padding-inline: 20px;
    }
}