.Player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 70px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px 20px rgba(0, 0, 0, 0.5);

    [name='audioProgress'] {
        position: absolute;
        top: 11px;
        left: 20px;
        width: calc(100% - 40px);
        appearance: none;
        background: transparent;
        cursor: pointer;
        height: 2.5px;
        z-index: 2;

        &::-webkit-slider-thumb {
            opacity: 0;
            appearance: none;
            height: 12px;
            width: 12px;
            border: none;
            border-radius: 50%;
            background-image: linear-gradient(to right, #43e97b, #38f9d7);
            transition: all 0.3s;
        }

        &:hover {
            &::-webkit-slider-thumb {
                opacity: 1;
            }
        }
    }

    >.rangeAlike {
        position: absolute;
        top: 11px;
        left: 20px;
        width: calc(100% - 40px);
        height: 2.5px;
        z-index: 1;

        .range {
            background-image: linear-gradient(to right, #43e97b, #38f9d7);
            height: 100%;
            z-index: 2;
        }
    }

    svg {
        font-size: 30px;
    }

    >.img-Name {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .names {
            p {
                font-size: 13px;
                margin-top: 5px;
            }
        }
    }

    .PlayerOptions {
        width: 220px;
        display: flex;
        justify-content: space-between;

        svg {
            font-size: 25px;
            cursor: pointer;
        }
    }

    .timestamp {
        text-wrap: nowrap;
    }

    .volume {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 30px;
        position: absolute;
        top: 75%;
        right: 20px;
        transform: translateY(-100%);
        z-index: 3;

        input {
            width: 100px;
            display: none;
            position: relative;
            left: 15px;
            top: 5px;
            transform: rotate(-90deg);
            transform-origin: left;
            cursor: grab;
        }

        &:hover {
            height: 130px;
            input {
                display: block
            }
        }
    }
}


@media screen and (max-width:680px) {
    .Player {
        .PlayerOptions {
            width: 150px;

            svg {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width : 550px) {
    .Player {
        >.img-Name {
            img {
                display: none;
            }
        }
    }
}