@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Lato", sans-serif;
  -webkit-user-select: none;
              -ms-user-select: none;
          user-select: none;
  transition: all 0.3s;
}body {
  min-height: 100vh;
  scrollbar-width: 0px;
  transition: none;
  background-image: linear-gradient(to right, rgb(28, 28, 28) 0%, black 100%);
  /* background: linear-gradient(rgb(50, 50, 50) 0%, rgb(63, 63, 63) 40%, rgb(28, 28, 28) 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%); */
  /* background-blend-mode: multiply; */
  /* background-color: rgb(29, 29, 29); */
}body ::-webkit-scrollbar {
  display: none;
}header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    /* // border: 1px solid rgb(255, 255, 255); */
}header h1 {
        display: flex;
        align-items: center;
        font-family: "Caveat", cursive;
        font-size: 2.3rem;
        /* // font-optical-sizing: auto; */
    }header h1 img {
            width: 2.3rem;
        }header  > .inputWrapper {
        width: 40%;
        /* // height: 2.5rem; */
        border: 2px solid rgba(198, 198, 198, 0.237);
        border-radius: 30px;
        position: relative;
        /* // display: flex; */
        /* // align-items: center; */
        /* // justify-content: center; */
    }header > .inputWrapper  > .top {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }header > .inputWrapper > .top  > p {
                margin-left: 5px;
            }header > .inputWrapper > .top  > input {
                width: 0px;
                opacity: 0;
                color: white;
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 1.1rem;
                padding-left: 5px;
                padding-right: 5px;

            }header > .inputWrapper > .top  > .cross {
                width: 0px;
            }header  > .activeInputWrapper {
        width: 80%;
        border-radius: 20px;
        /* // border-radius: 20px 20px 0 0; */
        /* // border-bottom: none; */
    }header > .activeInputWrapper  > .top {
            width: 100%;
            justify-content: space-evenly;
        }header > .activeInputWrapper > .top  > p {
                display: none;
            }header > .activeInputWrapper > .top  > input {
                opacity: 1;
                width: 90%;
            }header > .activeInputWrapper > .top  > .cross {
                width: 24px;
                height: 24px;
                display: block;
                cursor: pointer;
                z-index: 2;
            }header > .activeInputWrapper > .top svg {
                margin: 10px;
                font-size: 1.2rem;
                /* // &:nth-last-of-type(1) {
                //     margin-left: 10px;
                // }

                // &:nth-last-of-type(2) {
                //     margin-right: 10px;
                // } */
            }header > .activeInputWrapper  > .bottom {
            position: absolute;
            top: 50px;
            width: 100%;
            border: 2px solid rgba(198, 198, 198, 0.237);
            padding: 20px;
            background-color: rgb(255, 255, 255);
            /* // border-top: none; */
            border-radius: 20px;
            height: 0px;
            // opacity: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, 250px);
            justify-content: space-evenly;
            grid-gap: 20px;
            gap: 20px;
            color: black;
            overflow: hidden;
            animation: dataAnimation 0.2s linear 0.3s forwards;
        }header > .activeInputWrapper > .bottom  > p {
                color: black;
                text-align: center;
            }@keyframes dataAnimation {
    to {
        height: -moz-fit-content;
        height: fit-content;
        overflow-y: auto;
    }
}.HeaderSearchResult {
    width: 250px;
    // border: 1px solid rgb(0, 0, 0);
}.HeaderSearchResult p,.HeaderSearchResult h5,.HeaderSearchResult strong {
        color: black !important;
    }.HeaderSearchResult  > .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }.HeaderSearchResult > .top  > button {
            border: 1.5px solid #2bc5b4;
            border-radius: 10px;
            color: #2bc5b4;
            font-size: 10px;
            font-weight: 700;
            background: transparent;
            padding: 3px 10px;
            cursor: pointer;
        }.HeaderSearchResult .container {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;

        // background-color: gray;
    }.HeaderSearchResult .container img {
            width: 40px;
            margin-right: 10px;
        }.HeaderSearchResult .container .detaiils  > p {
                font-size: 13px;
            }.HeaderSearchResult .container .detaiils  > .mainName {
                font-size: 14px;
                font-weight: 700;
            }.Player {
    // border: 1px solid red;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}.Player svg {
        font-size: 30px;
    }.Player  > .img-Name {
        display: flex;
        align-items: center;
    }.Player > .img-Name img {
            margin-right: 10px;
        }.Player > .img-Name .names p {
                font-size: 13px;
                margin-top: 5px;
            }.Player .PlayerOptions {
        width: 220px;
        display: flex;
        justify-content: space-between;
    }.Player .PlayerOptions svg {
            cursor: pointer;
        }.Player  > .timestamp-volume {
        display: flex;
        align-items: center;
    }.Player > .timestamp-volume .volume {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            // border: 1px solid white;
            width: 30px;
            // height: 140px;
            // pos
        }.Player > .timestamp-volume .volume input {
                width: 100px;
                display: none;
                // position: absolute;
                position: relative;
                left: 15px;
                top: 5px;
                transform: rotate(-90deg);
                transform-origin: left;
                cursor: grab;
                // &:hover {
                //     input {
                //         display: block
                //     }
                // }
            }.Player > .timestamp-volume .volume:hover {
                position: relative;
                top: -8px;
            }.Player > .timestamp-volume .volume:hover input {
                    display: block
                }main {
    min-height: calc(100vh);
    margin-top: 63px;
    padding-bottom: 20px;
    margin-bottom: 92px;
    // background: #000;
    padding-left: 50px;
    padding-right: 50px;
}@media screen and (max-width: 600px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
}.SongCard {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-top: 1px solid rgba(143, 143, 143, 0.304);
    border-bottom: 1px solid rgba(143, 143, 143, 0.304);
    cursor: pointer;
}.SongCard h3 {
        // border: 1px solid red;
        width: 250px;
        display: flex;
        align-items: center;
    }.SongCard h3 img {
            margin-right: 10px;
        }.SongCard h3 > .names p {
                display: none;
                font-size: 15px;
                font-weight: 400;
            }.SongCard h3,.SongCard p {
        // border: 1px solid red;
        text-wrap: nowrap;
        overflow: hidden;
    }.SongCard p {
        width: 200px;
    }.SongCard .desktopView {
        display: block;
    }@media screen and (max-width: 700px) {
        .SongCard .desktopView {
            display: none;
        }
                .SongCard h3 .names p {
                    display: block;
                }
}.Loading-Error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}.AlbumQuerryPage  > .albumSongs {}.AlbumQuerryPage h2 {
        margin-top: 25px;
        margin-bottom: 25px;
    }.AlbumQuerryPage .so {
        margin-top: 0px;
    }.img-albumDetails {
    padding-top: 50px;
    padding-bottom: 50px;
    // border: 1px solid white;
    display: flex;
    align-items: center;
}.img-albumDetails  > img {
        width: 250px;
        margin-right: 30px;
    }.img-albumDetails > .albumDetails p {
            margin-top: 10px;
            margin-bottom: 10px;
        }.img-albumDetails > .albumDetails button {
            background-color: #2bc5b4;
            padding: 10px 30px;
            border: none;
            border-radius: 50px;
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: 700;
            margin-top: 20px;
            cursor: pointer;
        }.artists {
    display: flex;
    flex-wrap: wrap;
    // padding-inline: 20px;
}.artists  > .artistCont {
        // border: 1px solid rgb(255, 255, 255);
        width: -moz-fit-content;
        width: fit-content;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;

        // display: ;
    }.artists > .artistCont img {
            border-radius: 50%;
            height: 150px;
            width: 150px;
        }.artists > .artistCont p {
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }.SongQuerryPage h2 {
        margin-bottom: 20px;
    }.Lyrics {
    margin-left: 10px;
    margin-bottom: 5px;
    // border: 1px solid red;
    height: 100px;
    // position: relative;
    transition: height 0.3s;
    overflow: hidden;
}.fullView {
    height: -moz-fit-content;
    height: fit-content;
}.fullView h4 {
        letter-spacing: 1px;
        color: rgb(176, 176, 176);
    }.fullView h4:nth-of-type(1) {
            margin-top: 20px;
        }.readMore {
    // width: 150px;
    background: none;
    // backdrop-filter: blur(5px);
    // box-shadow: 0px -15px 20px rgb(2, 2, 2);
    height: 30px;
    border: none;
    margin-left: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    color: orange;
}.SongFromAlbum {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-gap: 20px;
    gap: 20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}.SongFromAlbum  > .songInAlbum {
        margin: 10px 0px;
        width: 150px;
        overflow: hidden;
        cursor: pointer;
    }.SongFromAlbum > .songInAlbum p {
            text-align: center;
        }.ArtistQuerryPage .imgText {
        padding-top: 50px;
        // border: 1px solid white;
        display: flex;
        align-items: center;
    }.ArtistQuerryPage .imgText img {
            width: 350px;
            border: none;
            border-radius: 50%;
            margin-right: 50px;
        }.ArtistQuerryPage .imgText .text h1 {
                display: flex;
                align-items: center;
            }.ArtistQuerryPage .imgText .text h1 svg {
                    margin-left: 10px;
                    fill: #2bc5b4;
                }.ArtistQuerryPage .imgText .text p {
                margin-top: 10px;
                margin-bottom: 10px;
            }.ArtistQuerryPage .imgText button {
            background-color: #2bc5b4;
            padding: 10px 30px;
            border: none;
            border-radius: 50px;
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: 700;
            margin-top: 20px;
            cursor: pointer;
        }.ArtistQuerryPage h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }.ArtistQuerryPage  > .type {
        margin-top: 30px;
        margin-bottom: 30px;

        // border: 1px solid white;
    }.ArtistQuerryPage > .type .contentSwitcher button {
                width: 100px;
                height: 35px;
                // padding-block: 5px;
                background: none;
                border-width: 4px;
                border-radius: 25px;
                margin-right: 20px;
                cursor: pointer;
            }.PlaylistQuerryPage h2 {
        margin-bottom: 25px;
    }.DynamicContent  > .albumCont {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-evenly;
        display: grid;
        grid-template-columns: repeat(auto-fit, 150px);
        grid-gap: 20px;
        gap: 20px;
        justify-content: space-evenly;
    }.DynamicContent  > .load {
        margin-top: 20px;
        // border: 1px solid red;
        display: flex;
        justify-content: center;
    }.DynamicContent > .load  > button {
            background: none;
            border: 2px solid #2bc5b4;
            border-radius: 25px;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 1px;
            height: 35px;
            width: 120px;
            cursor: pointer;
        }.AlbumThumbnail {
    // border: 1px solid white;
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 190px;
    overflow: hidden;
    cursor: pointer;
}.AlbumThumbnail img {
        width: 150px;
        height: 150px;
    }