.TopArtists {
    // border: 1px solid white;
    margin-top: 45px;
    // grid-s
    h1 {
        margin-bottom: 20px;
    }
    .homeArtistCont {
        justify-content: center;
    }
    .Loading-Error {
        text-align: center;
    }
}